<header>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li {% if page.url == '/' | prepend: site.baseurl %} class="active" {% endif %}><a href="{{ '/' | prepend: site.baseurl }}">首页</a></li>
          <li {% if page.url == '/en/' | prepend: site.baseurl %} class="active" {% endif %}><a href="{{ '/en/' | prepend: site.baseurl }}">English</a></li>
        </ul>
      </div>

    </div>
  </nav>

</header>
