<div class="list-group">
  <a href="{{ '/en/' | prepend: site.baseurl }}" class="list-group-item {% if page.url == '/en/index.html' %} active {% endif %}">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
    Latest News
  </a>
  <a href="{{ '/en/organization.html' | prepend: site.baseurl }}" class="list-group-item {% if page.url contains 'en/organization.html' %} active {% endif %}">
    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;
    Organization
  </a>
  <a href="{{ '/en/sponsors.html' | prepend: site.baseurl }}" class="list-group-item {% if page.url contains 'en/sponsors.html' %} active {% endif %}">
    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;
    Sponsors
  </a>
  <a href="#" class="list-group-item">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
    Registration
  </a>
</div>
