<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <div id='wx_logo' style='display:none;'>
        <img src='/img/cos-logo-300x300.jpg' />
      </div>

    {% include header.html %}

    <div class="container site-main">
      <div class="row">

        <div class="col-sm-3 site-sidebar">
          {% include sidebar-en.html %}
        </div>

        <div class="col-sm-9 site-content">
          {{ content }}
        </div>

      </div>
    </div>

    {% include footer-en.html %}

  </body>

</html>
